!!! 5
%html
  %head
    %title scrollsperiment
    :sass
      body
        background-color: green
        -webkit-perspective: 350px
        -webkit-perspective-origin: 50% 10%

        -moz-perspective: 350px
        -moz-perspective-origin: 50% 10%
      .content
        width: 960px
        margin: 0 auto
        background-color: white
        padding: 4px
        .foreground
          background-color: white
        .background
          background-color: rgba(0,0,0,0)
          height: 120px
          .imagefill
            background-color: red
            background-image: url('2013-03-02 14.05.08.jpg ')
            background-attachment: fixed
            height: 280px
            width: 100%
            border: 4px solid blue
            &.transformed
              -webkit-transform: translateZ(-200px)
              -moz-transform: translateZ(-200px)
  %body
    .content
      %h1.foreground scrollsperiment
      %p
        %a{href: 'https://github.com/bkerley/scrollsperiment'} on github
      %h2 this one is transformed
      .background
        .imagefill.transformed
      %h2 this one isn't
      .background
        .imagefill
      %div.foreground
        - 100.times do
          %p fuh fuh fuh
